

.image-placeholder {
    background-color: #eee;
    display: flex;
    max-height: 180px;
    margin: 5px;
    width: 180px;
}

.image-placeholder > h4 {
    align-self: center;
    text-align: center;
    width: 100%;
}